<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/SignInOrUp.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="" style="">
    <div class="all"></div>
    <div class="container" style="z-index: 1;padding-top: 125px;">
        <div class="row" style="">
            <div class="col-sm-6 col-sm-offset-3 form-box" style="margin-top: 35px;">
                <div class="form-top">
                    <div class="form-top-left">
                        <h2 style="margin-top: 20px;margin-left: 108px;">黄疸检测云管理系统</h2>
                    </div>
                    <div class="form-top-right">
                        <i class="fa iconfont icon-key"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <div role="form" class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Username</label>
                            <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username" value="">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Password</label>
                            <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                        </div>
                        <button id="login" type="submit" class="btn"> 登录</button>
                        <a href="/signUp" style="float: right">没有账号?前往注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var username=localStorage.getItem('username');
       if(username!=undefined){
           if(username==='admin'){
               location.href='/home';
           }
       }
    });
    $("#login").click(function(){
        var username=$("#form-username").val();
        var password=$("#form-password").val();
        if(username===""||password===""){
            alert("请输入用户名和密码")
        }else {
            $.ajax({
                url: "/login",
                type: "POST",
                cache: false,
                async: false,
                data: {
                    username: username,
                    password: password
                },
                success: function(data){    //    alert后台返回的参数
                    // alert(data);
                    if(data==="ADMINLOGIN"){
                        // alert("即将跳转至主页");
                        localStorage.setItem("username",username);
                        window.location.href="/home";
                    }else if(data==='USERLOGIN'){
                        localStorage.setItem('username',username);
                        window.location.href="/userHome";
                    }else {
                        alert("登录无效，请重试");
                        window.location.href="/jaundice"
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("错误状态码："+XMLHttpRequest.status+"\n错误信息："+textStatus+"——"+errorThrown); // 200
                    alert("出错了，请重试")
                }
            });
        }
    });
</script>
</body>
</html>