<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jaundice</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.13.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.13.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.13.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin@1.10.1/tableExport.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0;font-size: 23px;font-family: 华文楷体, serif;">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-right: 40px;">
            <a class="navbar-brand" href="#" style="font-size: 30px;color: rgba(0,0,0,1)">黄疸检测云管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/home">用户列表</a></li>
                <li><a href="/data">数据列表</a></li>
                <li><a href="#">数据统计</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="title-username" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="font-size: 18px;min-width: 115px;text-align: center;">
                        <li id="logout" style="cursor: pointer"><a>登出</a></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>